<div>
  @for (auction of auctionList;let i = $index; track auction.price) {
  <mat-card class="auction-card">
    <mat-card-header>
      <div class="avatar-container">
        <div mat-card-avatar class="example-header-image"></div>
      </div>
      <div class="title-subtitle-container">
        <mat-card-title>{{ auction.title }}</mat-card-title>
        <mat-card-subtitle
          >Current price: {{ auction.price }} RON</mat-card-subtitle
        >
      </div>
      <div class="heart-icon-container">
        <mat-icon
          (click)="toggleFavorite(i)"
          [class.filled]="auction.isFavorite"
          >favorite</mat-icon
        >
      </div>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <div class="card-actions">
      <button mat-button disabled>{{ auction.price }} RON</button>
      <button
        mat-raised-button
        (click)="placeBid(auction, getNextBidPrice(auction.price))"
      >
        Bid {{ getNextBidPrice(auction.price) }} RON
      </button>
    </div>
  </mat-card>
  }
</div>
