.auction-card {
    position: relative;
    max-width: 200px;
    margin: 15px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card-header {
    display: flex;
    align-items: center;
}

.avatar-container {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

.title-subtitle-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    flex-grow: 1; 
    text-align: left; 
    padding-left: 10px; 
}

.heart-icon-container {
    flex-grow: 1;
    display: flex;
    align-items: center; 
    justify-content: flex-end;
}

mat-icon {
    cursor: pointer;
}

mat-icon.filled {
    color: red;
}

.card-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around; /* Adjust button spacing */
    padding: 10px 0; /* Padding at top and bottom */
    background-color: rgba(255, 255, 255, 0.9); /* Optional: Semi-transparent background */
}

mat-card-image {
    display: block;
    width: 100%;
}
  