<div class="container">
    <div class="row">
        <div class="column left">
            <div class="photo-box">
                <!-- Photos go here -->
            </div>
            <div class="details-box">
                <!-- Auction details go here: title, description, etc. -->
            </div>
        </div>
        <div class="column right">
            <div class="sticky-box">
                <!-- Current price, minimum bid, and bid button go here -->
            </div>
        </div>
    </div>
</div>
