<!-- <header class="app-header">
    <div class="logo-section">
      <img src="path/to/your/logo.png" alt="App Logo">
    </div>
    <nav class="nav-section">
      <a routerLink="/">Home</a>
      <div *ngIf="isLoggedIn" class="dropdown my-auctions-dropdown">
        <button class="dropbtn" routerLink="/my-auctions">My Auctions</button>
        <div class="dropdown-content my-auctions-dropdown-content">
          <a routerLink="/posted-auctions">Posted Auctions</a>
          <a routerLink="/participated-auctions">Participated Auctions</a>
        </div>
      </div>
      <div *ngIf="isLoggedIn" class="dropdown account-dropdown">
        <button class="dropbtn" routerLink="/profile">Account</button>
        <div class="dropdown-content account-dropdown-content">
          <a routerLink="/premium">Premium</a>
          <a routerLink="/logout">Logout</a>
        </div>
      </div>
      <a *ngIf="!isLoggedIn" routerLink="/login">Login</a>
      <a *ngIf="!isLoggedIn" routerLink="/register">Register</a>
    </nav>
</header> -->
  
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  
  <!-- <footer class="app-footer">
    <div class="footer-content">
      <div class="footer-section">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>My Auctions</h4>
        <ul>
          <li><a href="/my-auctions/posted">Posted Auctions</a></li>
          <li><a href="/my-auctions/participated">Participated Auctions</a></li>
          <li><a href="/create-auction">Create Auction</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Legal</h4>
        <ul>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </footer>
   -->