<div class="list-container">
  

  <!-- My Auctions -->
  @if(UserCreatedAuctionList.length>0) {
  <div class="auctions-row">
    <h2 class="auctions-title" (click)="navigateToCompleteView('my-auctions')">
      My Auctions
    </h2>
    <div class="auctions-container">
      <button mat-icon-button (click)="scrollLeft('created')">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <div class="cards-container">
        @for (auction of displayUserCreatedAuctionList; track $index) {
        <div class="card-item">
          <app-auction-item
            [auctionId]="auction.id"
            [title]="auction.title"
            [price]="auction.price"
            [endDate]="auction.endDate"
            [imageUrl]="auction.imageUrl"
          >
          </app-auction-item>
        </div>
        }
      </div>

      <button mat-icon-button (click)="scrollRight('created')">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  }
  <!-- Participated Auctions -->
  @if (UserParticipatedAuctionList.length>0) {
  <div class="auctions-row">
    <h2 class="auctions-title" (click)="navigateToCompleteView('participated')">
      Participated Auctions
    </h2>
    <div class="auctions-container">
      <button mat-icon-button (click)="scrollLeft('participated')">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <div class="cards-container">
        @for (auction of displayUserParticipatedAuctionList; track $index) {
        <div class="card-item">
          <app-auction-item
            [auctionId]="auction.id"
            [title]="auction.title"
            [price]="auction.price"
            [endDate]="auction.endDate"
            [imageUrl]="auction.imageUrl"
          >
          </app-auction-item>
        </div>
        }
      </div>

      <button mat-icon-button (click)="scrollRight('participated')">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  }
  <!-- Favourites -->
  @if (UserFavouritesAuctionList.length>0) {
  <div class="auctions-row">
    <h2 class="auctions-title" (click)="navigateToCompleteView('favourites')">
      Favourites
    </h2>
    <div class="auctions-container">
      <button mat-icon-button (click)="scrollLeft('favourites')">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <div class="cards-container">
        @for (auction of displayUserFavouritesAuctionList; track $index) {
        <div class="card-item">
          <app-auction-item
            [auctionId]="auction.id"
            [title]="auction.title"
            [price]="auction.price"
            [endDate]="auction.endDate"
            [imageUrl]="auction.imageUrl"
          >
          </app-auction-item>
        </div>
        }
      </div>

      <button mat-icon-button (click)="scrollRight('favourites')">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  }

  @if (areAllListsEmpty()) {
    <div class="empty-message">
      <h2>You have nothing here...</h2>
      <button mat-raised-button color="primary" (click)="navigateToCreateAuction()">
        Create an Auction
      </button>
    </div>
    } @else {
      <div class="create-auction-button">
        <button mat-raised-button color="primary" (click)="navigateToCreateAuction()">
          Create an Auction
        </button>
      </div>
    }
</div>
