.list-container {
  width: 100%;
}

.auctions-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auctions-title {
  text-align: center;
  margin: 1px;
  padding-top: 10px;
}

.auctions-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 200px)); 
  gap: 24px; 
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  padding: 0 7%; 
  margin-top: 5px;
}

.card-item {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  max-width: 200px; 
}

mat-card img {
  width: auto;
  height: 220px;
  object-fit: cover;
}

mat-card-content {
  padding: 10px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.heart-icon-container {
  cursor: pointer;
}

button.mat-icon-button {
  margin: 0 5px;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 200px));
  }
  .promoted-cards-container .card-item {
    width: 150px; /* Adjust width for smaller screens */
    height: 225px; /* Adjust height accordingly */
  }
}

.promoted-auctions-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promoted-auctions-title {
  text-align: center;
  margin: 1px;
  padding-top: 10px;
}

.promoted-auctions-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.promoted-cards-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  min-height: 400px;
  padding-bottom: 60px;
}

.promoted-cards-container .card-item {
  position: relative;
  width: 200px; 
  height: 250px;
  flex-shrink: 0;
}
